.logo {
    width: 350px;
    max-width: 350px;
}

.sign-in-panel {
    width: 400px;
    max-width: 400px;
}

@media screen and (max-width: 480px) {
    .logo {
        width: 300px;
        max-width: 300px;
    }

    .sign-in-panel {
        width: 400px;
        max-width: 400px;
    }
}